<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Client.BusinessTrip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>  <connectionStrings>
    <add name="Core.BusinessTrip.Context.BusinessTripContext" connectionString="Data Source=as21430;Initial Catalog=II14;User=reader;" providerName="System.Data.SqlClient" />
  </connectionStrings> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Client.BusinessTrip.Properties.Settings>
      <setting name="SelectedUser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortIndexPersons" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderPersons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexBusinessTrips" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderBusinessTrips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexDepartments" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderDepartments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexLocations" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderLocations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexOrganizations" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderOrganizations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexPartys" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderPartys" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexPositions" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderPositions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexTransports" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderTransports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortIndexTypeWorks" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortOrderTypeWorks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowWidthViewPersons" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowHeightViewPersons" serializeAs="String">
        <value>405</value>
      </setting>
      <setting name="WindowStateMaximizedViewPersons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowWidthViewTypeWorks" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewTransports" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewPositions" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewPartys" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewOrganizations" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewLocations" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewDirections" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowWidthViewDepartments" serializeAs="String">
        <value>645</value>
      </setting>
      <setting name="WindowWidthViewBusinessTrips" serializeAs="String">
        <value>860</value>
      </setting>
      <setting name="WindowHeightViewTypeWorks" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="WindowHeightViewTransports" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="WindowHeightViewPositions" serializeAs="String">
        <value>275</value>
      </setting>
      <setting name="WindowHeightViewPartys" serializeAs="String">
        <value>385</value>
      </setting>
      <setting name="WindowHeightViewOrganizations" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="WindowHeightViewLocations" serializeAs="String">
        <value>335</value>
      </setting>
      <setting name="WindowHeightViewDirections" serializeAs="String">
        <value>239</value>
      </setting>
      <setting name="WindowHeightViewDepartments" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="WindowHeightViewBusinessTrips" serializeAs="String">
        <value>944</value>
      </setting>
      <setting name="WindowStateMaximizedViewTypeWorks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewTransports" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewPositions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewPartys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewOrganizations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewLocations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewDirections" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewDepartments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStateMaximizedViewBusinessTrips" serializeAs="String">
        <value>False</value>
      </setting>
    </Client.BusinessTrip.Properties.Settings>
  </userSettings>
</configuration>